<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            margin: 0;
        }
        .menu{
            display: block;
            padding: 5px ;
        }
    </style>
</head>
<body>
    <div style="height: 48px;line-height:48px;background-color: black;color: white">欢迎你登陆系统</div>
    <div>
        <div style="position: absolute;top: 48px;bottom: 0;left: 0;width: 200px;background-color: aqua;">
            <a href="/cmdb/user_info/"class="menu">用户管理</a>
            <a href="/cmdb/user_group/"class="menu">用户管理</a>
        </div>
    </div>
    <div style="position: absolute;top: 48px;left: 210px;bottom: 0;right: 0;overflow: hidden; "></div>
</body>
</html>