<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/loginin/"mothod="POST">
        <p>
            <input type="text"name="user" placeholder="用户名">
        </p>
        <p>
            <input type="password"name="pwd"placeholder="密码">
        </p>
        <p>
            男：<input type="checkbox" name="favor" value="1">
            女：<input type="checkbox" name="favor" value="2">
            张扬：<input type="checkbox" name="favor" value="3">
        </p>
         <p>
            男：<input type="checkbox" name="favor" value="11">
            女：<input type="checkbox" name="favor" value="22">
            张扬：<input type="checkbox" name="favor" value="33">
        </p>
        <input type="submit" value="提交">
    </form>
</body>
</html>